.loading {
  width: 100px;
  height: 100px;
  border: 16px solid#7F7DE8;
  border-bottom-color: transparent;
  border-radius: 50%;
  animation: animation linear 1s infinite;
}

@keyframes animation {
  from {
    transform: rotate(1turn);
  }
}