.container{
    max-width: 1500px;
    display: grid;
    grid-template-columns: 500px 1000px ;
    gap: 2rem;
    justify-content: center;
    align-items: center;

}

.games{
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
}
.title{
    color: #f5f5f5;
    gap: 2rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.titleName{
    color: #BFBEF3;
}

.game{
    color: #f7f7f7;
    font-size: 1.2rem;
    margin: 0.6rem 0;
}

.placing{
    color: #BFBEF3;
    font-family: 'Satoshi',sans-serif;
}

.note{
    font-family: 'Satoshi',sans-serif;
}

.total{
    margin-top: 0.8rem;
    color: #f7f7f7;
    font-size: 1.4rem;
}