.container {
  display: grid;
  grid-template-columns: 1fr 1fr ;
  justify-items: end;
  align-items: center;
}

.container button {
  margin-top: 16px;
}

.buttonsGroup {
  grid-column: 1 / -1;
  background-color: aliceblue;
  opacity: 0;
  position: absolute;
  top: -224px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 64px 0px 24px 0px;
  width: 100%;
  z-index: 2;
  background-color: #121624;
  transition: all ease-in-out .5s;
}

.changeOptions {
  padding: 12px 24px;
  border-radius: 6px;
  background: #1C1F37;
  position: absolute;
  top: 16px;
  right: 16px;
  color: #FFF;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  border: none;
  outline: none;
  transition: .3s;
  cursor: pointer;
}

.changeOptions:hover {
  background: #8666F7;
  color: #07080d;
}

.changeOptions.actived {
  background: #8666F7;
  color: #07080d;
}

.showOptions {
  top: 0px;
  opacity: 1;
}

.buttonsGroup div {
  display: flex;
  margin-top: 24px;
  gap: 12px;
}

.buttonsGroup h2 {
  color: #F5F5F5;
  font-weight: 500;
  font-size: 1.5rem;
}