.container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  justify-items: end;
}

.container > div {
  display: grid;
  gap: 60px;
}

.container h2 {
  color: #FFF;
  font-weight: 500;
  margin-bottom: 24px;
}

.buttonsGroup {
  width: 360px;
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
}

.logo {
  width: 60px;
  margin-bottom: -40px;
}