.legend {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: #171A2E;
  padding: 24px;
  border-radius: 12px;
  margin-top: 46px;
  max-width: max-content;
  column-gap: 16px;
  row-gap: 6px;
}

.label {
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
}

.reference {
  width: 16px;
  height: 16px;
  border-radius: 4px;
}

.company {
  color: #F5F5F5;
}